[submodule "character_creator"]
	path = character_creator
	url = https://github.com/minetest-mods/character_creator.git
[submodule "clothing"]
	path = clothing
	url = https://github.com/stujones11/clothing.git
